{% extends 'base.html.twig' %}

{% block title %}Paiement non validé{% endblock %}

{% block body %}
	<img src={{ asset('images/logo.png') }} alt="Logo TinyCRM" width="200">
	<h1>Paiement non validé</h1>
	<p>
		Un problème est survenu lors du paiement. Veuillez réessayer ou contacter le support.
	</p>
{% endblock %}